@font-face {
font-family: 'Post No Bills Jaffna SemiBold Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Jaffna SemiBold Regular'), url('PostNoBillsJaffna-SemiBold.ttf') format('woff');
}